body{
    display:flex;
    background-image: url("./src/img/background_beach.jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.player {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.life{
    display: flex;
}

.reverse {
    display: flex;
    transform: rotate(180deg);
}